flow3
[{"id":"92471ab5.2a7208","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e528292a.aa3d48","type":"inject","z":"92471ab5.2a7208","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":220,"wires":[["abf88d2a.ed6d7"]]},{"id":"abf88d2a.ed6d7","type":"function","z":"92471ab5.2a7208","name":"paylode","func":"msg.headers={\n        deviceKey: \"lHdUaMBdue2GmD41\"\n        };\nmsg.payload=\"Temperature,,24\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["b535b7cd.3d1698"]]},{"id":"b535b7cd.3d1698","type":"http request","z":"92471ab5.2a7208","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"api.mediatek.com/mcs/v2/devices/DRiIDC85/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":240,"wires":[["ed0eac7d.82b19","f878c993.230b48"]]},{"id":"ed0eac7d.82b19","type":"http response","z":"92471ab5.2a7208","name":"","statusCode":"","headers":{},"x":670,"y":240,"wires":[]},{"id":"f878c993.230b48","type":"debug","z":"92471ab5.2a7208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":320,"wires":[]}]
