flow1
[{"id":"53cc521c.d8e88c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"795e402e.bb39d","type":"rpi-gpio in","z":"53cc521c.d8e88c","name":"button","pin":"7","intype":"up","debounce":"25","read":false,"x":50,"y":180,"wires":[["df0606f3.07bcf8","d0579e02.01b9e"]]},{"id":"799b23ab.4948bc","type":"rpi-gpio out","z":"53cc521c.d8e88c","name":"LED","pin":"13","set":"","level":"0","freq":"","out":"out","x":590,"y":200,"wires":[]},{"id":"df0606f3.07bcf8","type":"debug","z":"53cc521c.d8e88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":80,"wires":[]},{"id":"d0579e02.01b9e","type":"switch","z":"53cc521c.d8e88c","name":"if imput is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[["e67715ea.579588"],["8ab530f4.a52cc"]]},{"id":"e67715ea.579588","type":"change","z":"53cc521c.d8e88c","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["799b23ab.4948bc"]]},{"id":"8ab530f4.a52cc","type":"change","z":"53cc521c.d8e88c","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["799b23ab.4948bc"]]}]
