flow2
[{"id":"d94450fc.5dd0a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"30cd85dd.65e5ba","type":"inject","z":"d94450fc.5dd0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":200,"wires":[["30be5085.9e646"]]},{"id":"30be5085.9e646","type":"function","z":"d94450fc.5dd0a","name":"payload","func":"msg.headers={\n        deviceKey: \"lHdUaMBdue2GmD41\"\n        };\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["2912e112.49a04e","803b5dce.c50f3"]]},{"id":"2912e112.49a04e","type":"http request","z":"d94450fc.5dd0a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DRiIDC85/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":280,"wires":[["6e321a9f.667fb4","e7043d51.99611"]]},{"id":"e7043d51.99611","type":"http response","z":"d94450fc.5dd0a","name":"","statusCode":"","headers":{},"x":650,"y":260,"wires":[]},{"id":"6e321a9f.667fb4","type":"debug","z":"d94450fc.5dd0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":380,"wires":[]},{"id":"803b5dce.c50f3","type":"http request","z":"d94450fc.5dd0a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DRiIDC85/datachannels/Humidity/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":340,"wires":[["e7043d51.99611","6e321a9f.667fb4"]]}]
