flow4
[{"id":"fadacca8.0916","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"cb05ccdd.88c01","type":"http in","z":"fadacca8.0916","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["26c24725.d12228"]]},{"id":"73422b29.854534","type":"http response","z":"fadacca8.0916","name":"","statusCode":"","headers":{},"x":630,"y":220,"wires":[]},{"id":"f4314893.f07418","type":"debug","z":"fadacca8.0916","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":320,"wires":[]},{"id":"76c328f8.66d108","type":"rpi-gpio in","z":"fadacca8.0916","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":80,"y":400,"wires":[["f867869f.2b2088"]]},{"id":"f867869f.2b2088","type":"function","z":"fadacca8.0916","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["f4314893.f07418"]]},{"id":"26c24725.d12228","type":"function","z":"fadacca8.0916","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["73422b29.854534","f4314893.f07418"]]}]
